.rs-picker-toggle {
    height: 48px;
    border: 1px solid #d3d3d3 !important;
    border-radius: 4.5px !important;
}

.rs-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rs-picker-toggle-read-only {
    opacity: 1;
}

.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,
.rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    top: 12px;
}
 
